<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Angular-confirm : Confirmation modal dialog for AngularJS">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Angular-confirm</title>
  </head>

  <body ng-app="myApp" ng-controller="MyController">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/Schlogen/angular-confirm">View on GitHub</a>

          <h1 id="project_title">Angular-confirm</h1>
          <h2 id="project_tagline">Confirmation modal dialog for AngularJS</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/Schlogen/angular-confirm/archive/1.2.3.zip">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/Schlogen/angular-confirm/archive/1.2.3.tar.gz">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3><a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h3>

        <p>This module depends on Angular-UI bootstrap for its <code>$uibModal</code> service and can be used in two different ways: As a service or as a directive.</p>
<br />
        <h3><a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>As a Directive</h3>

        <p>The <code>confirm</code> directive can be placed on anything that also has <code>ngClick</code></p>

<pre><code ng-non-bindable>&lt;button type=&quot;button&quot; ng-click=&quot;delete()&quot; confirm=&quot;Are you sure, {{name}}?&quot;&gt;Delete&lt;/button&gt;
</code></pre>
<br />
        <p>The <code>confirmIf</code> directive can also be used if you only want the confirmation dialog to show if the expression supplied is true</p>

<pre><code ng-non-bindable>&lt;button type=&quot;button&quot; ng-click=&quot;delete()&quot; confirm-if=&quot;checked&quot; confirm=&quot;Are you sure, {{name}}?&quot;&gt;Delete&lt;/button&gt;
</code></pre>
<br />
<p>This button will always show a dialog if the checkbox is checked. <br />
   The "OK" button in the dialog will execute the <code>ngClick</code> expression on the button.<br />
   Enter your name in the text box to observe it shows up in the confirmation text.     
</p>
Name: <input type="text" ng-model="name" style="display: block; margin-bottom:10px;" />
<label style="display: block; margin-bottom:10px;">
  <input type="checkbox" ng-model="checked" ng-init="checked = true" />
  Check to enable the confirmation dialog
</label>
<div style="display: block; margin-bottom:10px;">
  <button type="button"  ng-click="delete()" confirm-if="checked" confirm="Are you sure, {{name}}?">
    Delete (Click "Reset" to clear)
  </button>
  <span style="font-weight: bold; font-size: 20px; color: rgb(184, 0, 0); margin-left: 30px">{{deleted}}</span>
</div>

<button type="button" ng-click="deleted = ''">Reset</button>
<br />
        <p>The <code>confirm</code> directive also supports the overwriting of the default labels for the modal title, OK buttion and Cancel button</p>

<pre><code ng-non-bindable>&lt;button type=&quot;button&quot; ng-click=&quot;delete()&quot; confirm=&quot;Are you sure, {{name}}?&quot; confirm-title=&quot;Please verify, {{name}}?&quot; confirm-ok=&quot;Yes&quot; confirm-cancel=&quot;No&quot;&gt;Delete&lt;/button&gt;
</code></pre>
<br />

        <p>The <code>confirm</code> directive can also take in modal settings with the <code>confirm-settings</code> attribute</p>

<pre><code ng-non-bindable>&lt;button type=&quot;button&quot; ng-click=&quot;delete()&quot; confirm=&quot;Are you sure, {{name}}?&quot;  confirm-settings=&quot;{size: 'sm'}&quot;&gt;Delete&lt;/button&gt;
</code></pre>
<br />

Size: <select ng-model="size" style="display: block; margin-bottom:10px;" ><option value="sm">Small</option><option value="lg">Large</option></select>
<div style="display: block; margin-bottom:10px;">
  <button type="button"  ng-click="delete()" confirm-settings="{size: size}" confirm="Are you sure?">
    Delete (Click "Reset" to clear)
  </button>
  <span style="font-weight: bold; font-size: 20px; color: rgb(184, 0, 0); margin-left: 30px">{{deleted}}</span>
</div>

<button type="button" ng-click="deleted = ''">Reset</button>
<br />

<h3>
  <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true">
    <span class="octicon octicon-link"></span></a>
    As a Service
</h3>
<h5><code>$confirm([data], [settings])</code> returns <code>promise</code></h5>
<p>The <code>$confirm</code> service is available for you to show confirmation dialogs. This allows you to show confirmations without having to have an HTML element tied to the action.</p>
<table class="variables-matrix input-arguments">
  <thead>
    <tr>
      <th>Param</th>
      <th>Type</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>data</td>
      <td>Object</td>
      <td>(Optional) Data to be used by the modal template/templateUrl. Referenced with "data.". The keys "title", "ok", and "cancel" can be used to change the labels used in the modal</td>
    </tr>
    <tr>
      <td>settings</td>
      <td>Object</td>
      <td>(Optional) Settings that will be passed to $uibModal</td>
    </tr>
  </tbody>
</table>

<pre><code ng-non-bindable>.controller("Controller", function($scope, $confirm) {
  $scope.delete = function() {
      $confirm({text: 'Are you sure you want to delete?'})
        .then(function() {
          $scope.deletedConfirm = 'Deleted';
        });
  }
})
</code></pre>

<div style="display: block; margin-bottom:10px; margin-top: 5px;">
  <button type="button" ng-click="deleteConfirm()">
    Try Me (Click "Reset" to clear)
  </button>
  <span style="font-weight: bold; font-size: 20px; color: rgb(184, 0, 0); margin-left: 30px">{{deletedConfirm}}</span>
</div>
<button type="button" ng-click="deletedConfirm = ''">Reset</button>
<br />
<br />

<pre><code ng-non-bindable>.controller("Controller", function($scope, $confirm) {
  $scope.delete = function() {
      $confirm({text: 'Are you sure you want to delete?', title: 'Delete it', ok: 'Yes', cancel: 'No'})
        .then(function() {
          $scope.deletedConfirm = 'Deleted';
        });
  }
})
</code></pre>

<div style="display: block; margin-bottom:10px; margin-top: 5px;">
  <button type="button" ng-click="deleteConfirmWithSettings({title: 'Delete it', ok: 'Yes', cancel: 'No'})">
    Try Me (Click "Reset" to clear)
  </button>
  <span style="font-weight: bold; font-size: 20px; color: rgb(184, 0, 0); margin-left: 30px">{{deletedConfirm}}</span>
</div>
<button type="button" ng-click="deletedConfirm = ''">Reset</button>
<br />
<br />

<h3>
<a id="rather-drive-stick" class="anchor" href="#rather-drive-stick" aria-hidden="true"><span class="octicon octicon-link"></span></a>Settings</h3>

<p>You can inject and modify <code>$confirmModalDefaults</code> to change the default settings that get passed to the <code>$uibModal</code> service.</p>

<pre><code ng-non-bindable>.run(function($confirmModalDefaults) {
  $confirmModalDefaults.templateUrl = 'path/to/your/template';
  $confirmModalDefaults.defaultLabels.title = 'Modal Title';
  $confirmModalDefaults.defaultLabels.ok = 'Yes';
  $confirmModalDefaults.defaultLabels.cancel = 'No';
})
</code></pre>

<p>You may also pass settings that will override the default settings when using <code>$confirm</code> directly.</p>

<pre><code ng-non-bindable>$confirm({}, { templateUrl: 'path/to/your/template' })
  .then(function() {
    ...
  });
</code></pre>

<p>If you provide your own <code>template</code> or <code>templateUrl</code> you may use any data passed to <code>$confirm</code> by referencing it with <code>data.</code>. The default template expects a "text" key to show the confirmation text.</p>

<pre><code ng-non-bindable>$confirm({name: "Sally"}, { template: 'Hello {{data.name}}!' })
  .then(function() {
    ...
  });
</code></pre>

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angular-confirm maintained by <a href="https://github.com/Schlogen">Schlogen</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="javascripts/angular-confirm.js"></script>
    <script src="javascripts/main.js"></script>

  </body>
</html>
